

<%= listado[0]. etiquetaVideo %>

<a href="<%= listado[0]. direccionVideo %>" target="_new">Pulse aqui para la reproduccion en una ventana diferente</a>

href=" <%= listado[0].etiquetaFecha %>"
 href="<%= listado[0].etiquetaCal %>"






