
<table>
  <% var i; for (i=0; i < listado.length; i++) { %>        
     <tr>
<td>
<%= listado[i]. etiquetaVideo %>
</td>
<td>
<a href="<%= listado[i]. direccionVideo %>" target="_new">Pulse aqui para la reproduccion en una ventana diferente</a>



</td>
etiquetaFecha: <%= listado[i]. etiquetaFecha %>

</td>
etiquetaCal: <%= listado[i]. etiquetaCal %>

</tr>
  <% } %>
</table>



