

<%= listado[1].etiquetaVideo %>

<a href="<%= listado[1]. direccionVideo %>" target="_new">Pulse aqui para la reproduccion en una ventana diferente</a>

href=" <%= listado[1].etiquetaFecha %>"
 href="<%= listado[1].etiquetaCal %>"






